@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0D6EFD;
  --color-primary-foreground: #FFFFFF;

  --color-secondary: #F0F1F3;
  --color-secondary-foreground: #020817;

  --color-accent: #6D7074;
  --color-accent-foreground: #020817;

  --color-background: #FAFAFB;
  --color-foreground: #020817;

  --color-card: #FFFFFF;
  --color-card-foreground: #020817;

  --color-popover: #FFFFFF;
  --color-popover-foreground: #020817;

  --color-muted: #F0F1F3;
  --color-muted-foreground: #6D7074;

  --color-destructive: #FF4C4C;
  --color-destructive-foreground: #FFFFFF;

  --color-border: #E0E0E0;
  --color-input: #E0E0E0;
  --color-ring: #0D6EFD;

  --color-chart-1: #FF6F61;
  --color-chart-2: #4CAF50;
  --color-chart-3: #03A9F4;
  --color-chart-4: #FFC107;
  --color-chart-5: #8E44AD;

  /* Dark mode */
  --color-dark-primary: #0D6EFD;
  --color-dark-primary-foreground: #FFFFFF;

  --color-dark-secondary: #1E1E2C;
  --color-dark-secondary-foreground: #FAFAFB;

  --color-dark-accent: #6D7074;
  --color-dark-accent-foreground: #FAFAFB;

  --color-dark-background: #020817;
  --color-dark-foreground: #FAFAFB;

  --color-dark-card: #121212;
  --color-dark-card-foreground: #FAFAFB;

  --color-dark-popover: #121212;
  --color-dark-popover-foreground: #FAFAFB;

  --color-dark-muted: #1E1E2C;
  --color-dark-muted-foreground: #6D7074;

  --color-dark-destructive: #FF4C4C;
  --color-dark-destructive-foreground: #FFFFFF;

  --color-dark-border: #3C3C3C;
  --color-dark-input: #3C3C3C;
  --color-dark-ring: #0D6EFD;

  /* Radius, shadow, fonts */
  --radius-sm: 0.125rem;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  --font-inter: Inter, sans-serif;

  --text-heading: 36px;
  --text-body: 14px;

  --font-weight-heading: 700;
  --font-weight-body: 600;
}

*{
  font-family: "Outfit", sans-serif;
  color: black;
}

